*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
 
  height: 100vh;
  margin: 0;
 
  display: flex;
  flex-direction: column;
}

/* Header Navbar */
header.header-navbar{
  width: 100%;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
  background-color: rgba(178, 194, 255, 1);
}
header.header-navbar .imgheader{
  width: 130px;
}
header.header-navbar nav.nav-header ul{
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
header.header-navbar nav.nav-header ul li{
  list-style-type: none;
}
header.header-navbar nav.nav-header ul li a{
  color: rgba(102, 91, 91, 1);
  text-decoration: none;
}
header.header-navbar nav.nav-header ul li a[href*='https']{
  background-color: rgba(214, 229, 246, 1);
  box-shadow: inset white;
  padding: 10px;
  border-radius: 5px;
  width: 49px;
  height: 27px;
  }

  /* Hero */
  .imagehero{
    background-color: whitesmoke;
    position: relative;
    opacity: 95%;
  }

  .imagehero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
  .containerHero {
   position: absolute;
   top: 12rem;
   left: 30rem;
   display: flex;
   align-items: center;
   gap: 5rem;
  }
  .headingHero{
    line-height: 1rem;
   color: rgba(55, 96, 141, 1);
   font-weight: 400;
   font-size: 24px;
  }